<nav class="flex bg-green-100 text-blue-900 p-4 fixed w-full h-16">
  <a href="/" class="m-2 hover:underline">View message board</a>
  <a href="/new" class="m-2 hover:underline">Send a message</a>
</nav>